.main-news._container
	.main-news__body 
		.main-news__title 
			h1.t-h2 Наши новости
		.main-news__content 
			.main-news__column
				.main-news__info 
					.main-news__head Часто ищут:
					.main-news__text 
						p.t-text-16-14 Как выбрать перфоратор: 5&nbsp;ключевых критериев для&nbsp;правильного выбора
						p.t-text-16-14 Чем отличается OSB о&nbsp; фанеры: плюсы и&nbsp;минусы материалов
						p.t-text-16-14 ТОП-10 электроинструментов 2025 года для&nbsp;профессиональных мастеров
						p.t-text-16-14 Как выбрать перфоратор: 5&nbsp;ключевых критериев для &nbsp;правильного выбора
						p.t-text-16-14 Чем отличается OSB от&nbsp;фанеры: плюсы и&nbsp;минусы материалов
						p.t-text-16-14 ТОП-10 электроинструментов 2025 года для&nbsp;профессиональных мастеров
			.main-news__column
				.main-news__slide.news-slide.swiper
					.slider-news
						.slider-news__body
							each item in news 
								.slide-news__slide
									a(href=linkTo("news-company/news-24022025", filename)).slide-news__image
										+picture('/img/news/' + item.image, 'image')
									.slide-news__info
										.slide-news__text= item.text
										.slide-news__date= item.data
					.slider-news
						.slider-news__body
							each item in news 
								.slide-news__slide
									a(href=linkTo("news-company/news-24022025", filename)).slide-news__image
										+picture('/img/news/' + item.image, 'image')
									.slide-news__info
										.slide-news__text= item.text
										.slide-news__date= item.data 
			//- .navigation
				.navigation__prev.btn-prev
					.navigation__icon
						+iconfont('arrow-left', 'icon')
				.navigation__next.btn-next
					.navigation__icon
						+iconfont('arrow-right', 'icon')
		.slide-pagination.main-news__pagination


