.product-categories._container 
	.product-categories__body
		.product-categories__content
			.product-categories__column
				include @/pug/chunks/filter
			.product-categories__column(data-quantity-container)
				.product-categories__header
					.product-categories__type.t-text-16-14 Сортировать:
					.product-categories__buttons
						button(type="button").product-categories__button.link-underline-center 
							span.t-text-16-14 По популярности
						button(type="button").product-categories__button.link-underline-center 
							span.t-text-16-14 По цене 
				.product-categories__slide.categories-slide.swiper
					.product-slide
						.product-slide__body 
							each product in priceProducts
								.product-slide__slide
									.product-card
										.product-card__header
											.product-card__label
												span= product.label
											.product-card__icons
												a(href="#" data-title="Добавить в сравнение").product-card__compare
													+iconfont('bar-chart', 'icon')
												.product-card__favourites
													+iconfont('heart', 'icon')
													+iconfont('heart-like', 'icon')
										.product-card__content
											a(href=linkTo("electric-tools/card-drill", filename)).product-card__image
												+picture('/img/products/' + product.image, 'image')
											.product-card__info
												p= product.title 
											.product-card__price.price-product
												span= product.price
											.product-card__sum.product-sum
												+iconfont('sum', 'icon')
												| :&nbsp; 
												span
											.product-card__article= product.article 
											.product-card__footer
												.product-card__counter
													.quantity.product-card__quantity
														.quantity__button.quantity-remove
															+iconfont('minus', 'icon')
														.quantity__input
															input.input(type="text" name="form[]" value="0" placeholder="<+>" autocomplete="off")
														.quantity__button.quantity-add
															+iconfont('plus', 'icon')
												.product-card__button
													span В корзину
					.product-slide
						.product-slide__body 
							each product in priceProducts
								.product-slide__slide
									.product-card
										.product-card__header
											.product-card__label
												span= product.label
											.product-card__icons
												a(href="#" data-title="Добавить в сравнение").product-card__compare
													+iconfont('bar-chart', 'icon')
												.product-card__favourites
													+iconfont('heart', 'icon')
													+iconfont('heart-like', 'icon')
										.product-card__content
											a(href=linkTo("catalog/card-drill", filename)).product-card__image
												+picture('/img/products/' + product.image, 'image')
											.product-card__info
												p= product.title 
											.product-card__price
												span 460,00р
											.product-card__sum
												+iconfont('sum', 'icon')
												| :
												span
											.product-card__article= product.article 
											.product-card__footer
												.product-card__counter
													.quantity.product-card__quantity
														.quantity__button.quantity-remove
															+iconfont('minus', 'icon')
														.quantity__input
															input.input(type="text" name="form[]" value="0" placeholder="<+>" autocomplete="off")
														.quantity__button.quantity-add
															+iconfont('plus', 'icon')
												.product-card__button
													span В корзину
				.slide-pagination.product-categories__pagination
